*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*corpo*/
main{
width: 60%;
margin: auto;
}

.content{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 20px 5px 30px;
    position: relative;
    background-color: red;
}

.hearts::after{
    position: absolute;
    content: "❤";
    background-color: violet;
    right: 0%;
    margin-top: 10px;
}


img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    display: inline-block;
}

/*description*/
 span{
    position: absolute;
    bottom: 10px;
    background-color: red;
    font-size: 12px; 
}
.description:last-child:after{
content: "29,99 €";
text-decoration:line-through;
position: relative;
}


.description{
 top: 100%;
}

    




